In [268]:
# !pip3 install pypdf2

In [269]:
from PyPDF2 import PdfReader
import pandas as pd
import re
reader=PdfReader("Freakonomics 1.pdf","rb")

In [270]:
length=len(reader.pages)
pages=[]
for i in range(length):
    page=PdfReader._get_page(reader,page_number=i)
    pages.append(page)
    texts=[]
for i in range(length):
    text=pages[i].extract_text()
    texts.append(text)

In [271]:
import pandas as pd

In [272]:
contents=pd.DataFrame(columns=["pageNumber","content"])

In [273]:
data=[]
for num,val in enumerate(texts):
    data.append({"pageNumber":num,"content":val})
contents=pd.concat([contents,pd.DataFrame(data)],ignore_index=True)

In [274]:
contents.head()

  pageNumber                                            content
0          0
1          1
2          2  FREAKONOMICS A Rogue Economist \nExplores the ...
3          3
4          4  CONTENTS \nAN EXPLANATORY NOTE vii \nIn which ...

In [275]:
contents

    pageNumber                                            content
0            0
1            1
2            2  FREAKONOMICS A Rogue Economist \nExplores the ...
3            3
4            4  CONTENTS \nAN EXPLANATORY NOTE vii \nIn which ...
..         ...                                                ...
335        335  Index \nSwitzerland, 224–25 \nSzilagyi, John, ...
336        336  About the Authors  \nSTEVEN D. L EVITT teaches...
337        337  Credits \nJacket design by Chika Azuma  \nJack...
338        338  Copyright \nFREAKONOMICS (REVISED AND EXPANDED...
339        339  Australia \nPymble, NSW 2073, Australia Canada...

[340 rows x 2 columns]

In [276]:
contents.describe()

        pageNumber content
count          340     340
unique         340     330
top              0
freq             1      11

In [277]:
contents.head()

  pageNumber                                            content
0          0
1          1
2          2  FREAKONOMICS A Rogue Economist \nExplores the ...
3          3
4          4  CONTENTS \nAN EXPLANATORY NOTE vii \nIn which ...

In [278]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [279]:
def formattedText(text):
    doc=nlp(text)
    page=[]
    for token in doc:
        token_index=token.i
        if token.text =="-":
            if token.i>0 and token.i<len(doc)-1:
                pageVal=doc[token.i-1].text+doc[token.i+1].text
            page.append(str(pageVal))
        elif token.text=="\n":
            pageVal=token.text.replace("\n","")
        elif not token.is_punct:
            page.append(token.text)
    return page

In [280]:
def join_letters(text):
    doc=nlp(text)
    page=[]
    for token in doc[:-1]:
        if len(doc[token.i+1])==1 and doc[token.i+1].text is not ["a","A","i","I"]: 
            val=doc[token.i].text+doc[token.i+1].text
            page.append(str(val))
    return page

In [281]:
# contents.content=contents["content"].apply(join_letters)
contents.content=contents["content"].apply(formattedText)

In [282]:
contents.head()

  pageNumber                                            content
0          0                                                 []
1          1                                                 []
2          2  [FREAKONOMICS, A, Rogue, Economist, Explores, ...
3          3                                                 []
4          4  [CONTENTS, AN, EXPLANATORY, NOTE, vii, In, whi...

In [283]:
# def remove_newline(doc):
#     return[token.text.replace("\n","") for token in doc]
# contents.content=contents["content"].apply(remove_newline)

In [292]:
contents.head(6)

  pageNumber                                            content
0          0                                                 []
1          1                                                 []
2          2  [FREAKONOMICS, A, Rogue, Economist, Explores, ...
3          3                                                 []
4          4  [CONTENTS, AN, EXPLANATORY, NOTE, vii, In, whi...
5          5  [Co, n, t, e, n, t, s, Who, cheats, Just, abou...

In [285]:
contents.sample(2)

    pageNumber                                            content
98          98  [Drug, Dealers, Living, with, Their, Moms, not...
278        278  [Fr, om, the, Freakonomics, B, log, The, simpl...

In [299]:
row=contents.loc[24][1]
print(row)

['Introduction', 'The', 'Hidden', 'Side', 'of', 'Everything', 'are', 'you', '’ll', 'give', 'the', 'money', 'in', 'one', 'of', 'two', 'situations', 'a', 'close', 'race', 'in', 'which', 'you', 'think', 'the', 'money', 'will', 'inﬂuence', 'the', 'outcome', 'or', 'a', 'cam', 'cam\n', 'paign', 'in', 'which', 'one', 'candidate', 'is', 'a', 'sure', 'winner', 'and', 'you', 'would', 'like', 'to', 'bask', 'in', 'reﬂected', 'glory', 'or', 'receive', 'some', 'future', 'in', 'inkind', 'kind', 'consideration', 'The', 'one', 'candidate', 'you', 'wo', 'n’t', 'contribute', 'to', 'is', 'a', 'sure', 'loser', 'Just', 'ask', 'any', 'presidential', 'hopeful', 'who', 'bombs', 'in', 'Iowa', 'and', 'New', 'Hampshire', 'So', 'front', 'frontrunners', 'runners', 'and', 'incumbents', 'raise', 'a', 'lot', 'more', 'money', 'than', 'long', 'shots', 'And', 'what', 'about', 'spending', 'that', 'money', 'Incumbents', 'and', 'front', '\n\n', 'runners', 'obviously', 'have', 'more', 'cash', 'but', 'they', 'only', 'spend', 'a', 'lot', 'of', 'it', 'when', 'they', 'stand', 'a', 'legitimate', 'chance', 'of', 'losing', 'otherwise', 'why', 'dip', 'into', 'a', 'war', 'chest', 'that', 'might', 'be', 'more', 'useful', 'later', 'on', 'when', 'a', 'more', 'for', '\n\n', 'midable', 'opponent', 'appears', 'Now', 'picture', 'two', 'candidates', 'one', 'intrinsically', 'appealing', 'and', 'the', 'other', 'not', 'so', 'The', 'appealing', 'candidate', 'raises', 'much', 'more', 'money', 'and', 'wins', 'easily', 'But', 'was', 'it', 'the', 'money', 'that', 'won', 'him', 'the', 'votes', 'or', 'was', 'it', 'his', 'appeal', 'that', 'won', 'the', 'votes', 'and', 'the', 'money', 'That', '’s', 'a', 'crucial', 'question', 'but', 'a', 'very', 'hard', 'one', 'to', 'answer', 'Voter', 'ap', 'ap\n', 'peal', 'after', 'all', 'is', 'n’t', 'easy', 'to', 'quantify', 'How', 'can', 'it', 'be', 'measured', 'It', 'ca', 'n’t', 'really', 'except', 'in', 'one', 'special', 'case', 'The', 'key', 'is', 'to', 'measure', 'a', 'candidate', 'agains', 't', 'himself', 'That', 'is', 'Candidate', 'A', 'today', 'is', 'likely', 'to', 'be', 'similar', 'to', 'Candidate', 'A', 'two', 'or', 'four', 'years', 'hence', 'The', 'same', 'could', 'be', 'said', 'for', 'Candidate', 'B.', 'If', 'only', 'Candidate', 'A', 'ran', 'against', 'Candidate', 'B', 'in', 'two', 'consecutive', 'elections', 'but', 'in', 'each', 'case', 'spent', 'different', 'amounts', 'of', 'money', 'Then', 'with', 'the', 'candidates', 'appeal', 'more', 'or', 'less', 'constant', 'we', 'could', 'measure', 'the', 'money', '’s', 'impact', 'As', 'it', 'turns', 'out', 'the', 'same', 'two', 'candidates', 'run', 'against', 'each', 'other', 'in', 'consecutive', 'elections', 'all', 'the', 'time', 'indeed', 'in', 'nearly', 'a', 'thousand', 'U.S.', 'congressional', 'races', 'since', '1972', 'What', 'do', 'the', 'numbers', 'have', 'to', 'say', 'about', 'such', 'cases', 'Here', '’s', 'the', 'surprise', 'the', 'amount', 'of', 'money', 'spent', 'by', 'the', 'candidates', 'hardly', 'matters', 'at', 'all', 'A', 'winning', 'candidate', 'can', 'cut', 'his', 'spending', 'in', 'half', '9']